/* ProseMirror Styles */
.ProseMirror p {
    margin-bottom: 0.5em;
}

.ProseMirror h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 1.5em;
}

.ProseMirror h3 {
    margin-top: 0.8em;
    margin-bottom: 0.4em;
    font-weight: bold;
    font-size: 1.25em;
}

.ProseMirror ul {
    list-style-type: disc;
    padding-left: 3em;
    margin-bottom: 0.5em;
}

.ProseMirror ol {
    list-style-type: decimal;
    padding-left: 3em;
    margin-bottom: 0.5em;
}

.ProseMirror ol ol {
    list-style-type: lower-alpha;
}

.ProseMirror ol ol ol {
    list-style-type: lower-roman;
}

.ProseMirror blockquote {
    border-left: 3px solid #ccc;
    padding-left: 1em;
    color: #666;
    font-style: italic;
}

.ProseMirror a {
    color: #2563eb;
    text-decoration: underline;
    cursor: pointer;
}

.ProseMirror {
    white-space: pre-wrap;
}

.ProseMirror ul ul {
    list-style-type: circle;
}

.ProseMirror ul ul ul {
    list-style-type: square;
}

.ProseMirror li {
    margin-bottom: 0.5em;
}

/* Fix for spacing inside list items */
.ProseMirror li p {
    margin-bottom: 0;
    margin-top: 0;
}

/* Article Renderer Styles */
.article-richtext li p {
    margin-bottom: 0;
    margin-top: 0;
}

.article-richtext ul {
    list-style-type: disc;
    padding-left: 3em;
    margin-bottom: 0.5em;
}

.article-richtext ol {
    list-style-type: decimal;
    padding-left: 3em;
    margin-bottom: 0.5em;
}

.article-richtext li {
    margin-bottom: 0.5em;
}